* {
  font-family: "Outfit", sans-serif;
}

body {
  background: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 320px;
}

.qr {
  background: #ffffff;
  padding: 16px 16px 40px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  border-radius: 20px;
}

.qr__img {
  width: 288px;
  height: 288px;
}

.qr__text {
  margin-top: 24px;
  text-align: center;
}

.qr__text--bold {
  font-size: 22px;
  font-weight: bold;
  color: #1f314f;
}

.qr__text--light {
  margin-top: 16px;
  font-size: 15px;
  letter-spacing: 0.1875px;
  color: #7d889e;
}
